* {
    margin: 0px;
    padding: 0px;
}

.text-light-gray {
    color: #727272;
}

body {
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

header {
    background-color: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav>ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav li {
    color: #424242;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
}

nav li a {
    text-decoration: none;
}

.nav-title {
    color: #131313;
    text-align: center;
    font-size: 30px;
    font-weight: 700;
}

.banner-content {
    max-width: 800px;
    text-align: center;
    margin: 50px auto;
}

.banner-title {
    color: #131313;
    text-align: center;
    font-size: 40px;
    /* font-weight: 700; */
}

.banner-description {
    text-align: center;
    font-size: 16px;
    font-weight: 400;
}

.btn-primary {
    width: 150px;
    height: 50px;
    border-radius: 8px;
    background: #FF900E;
    border: none;
    margin-top: 32px;
    color: #FFF;
    text-align: center;
    font-size: 15px;
    font-weight: 600;
    padding: 20px 25px;
    cursor: pointer;
}

.banner img {
    width: 100%;
}

main,
footer {
    max-width: 1040px;
    margin: 70px auto;
}

#img-1,
#img-2,
#img-3,
#img-4 {
    width: 200px;
}

.teams-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.teams-img-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.teams-content {
    padding: 40px 90px;
}

.quick-list {
    color: #727272;
    font-size: 35px;
    font-weight: 500;
}

.of-our {
    color: #131313;
    font-size: 30px;
    font-weight: 700;
}

.text-features {
    color: #FF900E;
    font-size: 35px;
    font-weight: 700;
}

.teams-description {
    padding-top: 20px;
}

.feature-title {
    margin: 20px 0px 20px 0px;
    border-left: 5px solid #FF900E;
    padding-left: 15px;
}

.feature-img img {
    margin-top: 20px;
    width: 500px;
    height: 750px;
}

.features-container {
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
}

.feature-content {
    margin-top: 20px;
}

.feature-desc {
    width: 450px;
}

.features-card {
    width: 400px;
    height: 120px;
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
    margin-top: 20px;
    margin-bottom: 15px;
    margin-right: 120px;
    padding: 20px;
}

.ten-years-badge {
    width: 170px;
    height: 100px;
    border-radius: 8px;
    background: #FF900E;
    color: #FFF;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    bottom: 60px;
    right: 60px;
}

.ten-year-header {
    font-size: 35px;
    font-weight: 700;
}

.ten-year-desc {
    font-size: 25px;
    font-weight: 500;
}

.facts-title {
    margin-top: 150px;
    margin-bottom: 20px;
}

.facts-desc {
    max-width: 600px;
}

.card-title {
    color: #727272;
    font-size: 18px;
    font-weight: 600;
}

.card-stats {
    color: #424242;
    font-size: 35px;
    font-weight: 600;
    padding-bottom: 10px;
}

.card {
    border-radius: 8px;
    border: 1px solid #FF900E;
    width: 270px;
    height: 180px;
    text-align: center;
    padding-top: 20px;
}

.card img {
    padding-bottom: 5px;
}

.facts-card-container {
    display: flex;
    gap: 50px;
    margin-top: 50px;
    margin-left: 20px;
}

.sponsors-container {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 20px;
}

.sponsors-img-container {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.sponsors-img-container img {
    width: 150px;
    height: 40px;
}

.sponsor-desc {
    padding-top: 20px;
}

.footer-section {
    text-align: center;
    border-radius: 8px;
    background: #FFF4E7;
    padding: 35px 150px;
    color: #424242;
    text-align: center;
    font-size: 15px;
    font-weight: 400;
}


/* For mobile devices */
@media screen and (max-width: 576px) {
    header {
        padding: 20px;
    }

    nav {
        flex-direction: column;
    }

    nav>ul {
        margin-top: 20px;
    }

    .banner-title {
        font-size: 15px;
    }

    .banner-content {
        margin: 10px auto;
    }

    .btn-primary {
        margin-top: 10px;
    }

    .teams-container {
        flex-direction: column;
    }

    .teams-img-container {
        grid-template-columns: 1fr;
    }

    .facts-card-container {
        flex-direction: column;
        margin-left: 60px;
    }

    .facts-desc {
        max-width: 300px;
        text-align: center;
        margin-left: 50px;
    }

    .facts-title {
        text-align: center;
        margin-top: 20px;
    }

    .sponsors-img-container {
        flex-direction: column;
        gap: 40px;
        align-items: center;
    }

    footer {
        margin: 20px;
    }

    .footer-section {
        padding: 20px 20px;
    }

    .features-container {
        flex-direction: column;
        margin-top: 0px;
    }

    .features-card,
    .feature-desc,
    .feature-title {
        width: 300px;
        margin-left: 30px;
    }

    /* .feature-img img {
        width: 350px;
        height: 600px;
        margin-left: 20px;
    } */
    .feature-img img{
        width: 100%;
        height: 100%;
    }

    .ten-years-badge {
       left: 80px;
    }
}

/* For tablet/medium devices */
@media screen and (min-width: 576px) and (max-width: 960px) {
    nav {
        flex-direction: column;
    }

    nav>ul {
        margin-top: 20px;
    }

    header {
        padding: 20px 20px;
    }

    .banner-content {
        margin: 20px auto;
    }

    .btn-primary {
        margin-top: 20px;
    }

    .facts-card-container {
        gap: 5px;
        margin-left: 10px;
    }

    .card {
        width: 200px;
    }

    .sponsors-img-container {
        flex-direction: column;
        gap: 40px;
        align-items: center;
    }

    footer {
        margin: 20px;
    }

    .footer-section {
        padding: 20px 20px;
    }
    .features-container{
        flex-direction: column;
        align-items: center;
    }

}